.xzectLogoTitleLightpngIcon {
  position: absolute;
  width: 15rem;
  top: 0;
  right: 20.92rem;
  left: 1.56rem;
  max-width: 100%;
  overflow: hidden;
  height: 4rem;
  object-fit: cover;
}
.bothBusinessesAnd,
.heading2,
.xzectGoesBeyond {
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 34.06rem;
  margin: auto;
}
.bothBusinessesAnd,
.xzectGoesBeyond {
  line-height: 1.78rem;
}
.bothBusinessesAnd {
  margin-top: -0.03rem;
}
.paragraph {
  width: 34.06rem;
  padding: 0 0 0.03rem;
  box-sizing: border-box;
}
.footertextwidget,
.paragraph,
.section1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footertextwidget {
  width: 34.06rem;
  font-size: 1rem;
  color: #57586e;
}
.section1 {
  position: absolute;
  width:30rem;
  top: 9rem;
  right: 0.31rem;
  left: 0.31rem;
  padding: 1.25rem;
  box-sizing: border-box;
  gap: 1.44rem;
}
.p {
  margin: 0;
}
.contactxzectcom {
  position: relative;
  line-height: 2.25rem;
  font-weight: 600;
  display: inline-block;
  max-width: 34.06rem;
}
.section2 {
  position: absolute;
  width: calc(100% - 50px);
  top: 38.94rem;
  right: 1.56rem;
  left: 1.56rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.25rem;
  color: #57586e;
}
.divcolXl6 {
  flex: 1;
  position: relative;
  height: 44.69rem;
  max-width: 37.19rem;
  min-height: 0.06rem;
}
.heading21,
.itemLink {
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 21.88rem;
}
.itemLink {
  line-height: 1.78rem;
}
.list {
  width: 21.88rem;
  flex-direction: column;
  padding: 0 0 0.03rem;
  gap: 0.47rem;
  font-size: 1rem;
  color: #57586e;
}
.coursesFooter,
.list,
.section3 {
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.section3 {
  width: 24.38rem;
  flex-direction: column;
  padding: 1.25rem 1.25rem 1.73rem;
  gap: 1.44rem;
}
.coursesFooter {
  width: 25rem;
  flex-direction: row;
  padding: 0 0.31rem;
  max-width: 25rem;
  min-height: 0.06rem;
}
.heading22,
.itemLink12 {
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 9.38rem;
}
.itemLink12 {
  line-height: 1.78rem;
}
.list1 {
  width: 9.38rem;
  flex-direction: column;
  padding: 0 0 0.03rem;
  box-sizing: border-box;
  gap: 0.47rem;
  font-size: 1rem;
  color: #57586e;
}
.aboutFooter,
.frame,
.list1,
.section4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.section4 {
  width: 11.88rem;
  flex-direction: column;
  padding: 1.25rem 1.25rem 1.73rem;
  box-sizing: border-box;
  gap: 1.44rem;
}
.aboutFooter,
.frame {
  flex-direction: row;
}
.aboutFooter {
  width: 12.5rem;
  padding: 0 0.31rem;
  box-sizing: border-box;
  max-width: 12.5rem;
  min-height: 0.06rem;
}
.frame {
  width: 37.5rem;
  flex-wrap: wrap;
}
.coursesAboutSection {
  flex: 1;
  max-width: 37.19rem;
  min-height: 0.06rem;
}
.coursesAboutSection,
.divrow,
.section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divrow {
  flex: 1;
  flex-wrap: wrap;
  padding: 0 0.31rem 0 0;
  gap: 10.38rem;
}
.section {
  align-self: stretch;
  background-color: #f7f9fa;
  border-top: 1px solid #e1e7f6;
  border-bottom: 1px solid #e1e7f6;
  overflow: hidden;
  padding: 4.44rem 8.75rem 1.94rem 16.31rem;
  text-align: left;
  font-size: 1.13rem;
  color: #0a083b;
  font-family: Roboto;
}

/* For screens with a width of 768px or more */
@media only screen and (min-width: 768px) {
  .xzectLogoTitleLightpngIcon {
    right: 2rem;
    left: 2rem;
  }
  .section1 {
    top: 6rem;
    right: 1.56rem;
    left: 1.56rem;
    padding: 1.25rem 1.56rem;
  }
  .section2 {
    top: 45rem;
    right: 2rem;
    left: 2rem;
  }
  .divcolXl6 {
    max-width: 50%;
    height: auto;
  }
  .coursesFooter {
    padding: 0 1.56rem;
  }
  .aboutFooter {
    padding: 0 1.56rem;
  }
  .frame {
    width: 100%;
  }
  .section {
    padding: 4.44rem 2rem 1.94rem 2rem;
  }
}